@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Duployan:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

@import 'tailwindcss';


 body{
   
    display: flex;
    justify-content: center;
    align-items:center;
    
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #F8FAFC;
    font-family: 'Inter',  cursive;

    
}




#root{
  min-width:100%;
  background-color: #F8FAFC;
  
} 






